params {

    //input and output binary paths
    fastq = "$projectDir/data/*.fastq"
    ref = "$projectDir/reference/*.fa"
    outdir = "$projectDir/results"
    adapter="AGATCGGAAGAGC"

    //Tools binary paths

    fastqc   = "/home/hp/miniconda3/envs/bnf/bin/fastqc"
    cutadapt = "/usr/bin/cutadapt"
    bwa      = "/home/hp/miniconda3/envs/bnf/bin/bwa"
    samtools = "/usr/bin/samtools"
    bcftools = "/home/hp/miniconda3/envs/bnf/bin/bcftools"
    multiqc  = "/usr/bin/multiqc"
}

process {
    conda = "$baseDir/environment.yml"
    cpus=2
    memory = '2 GB'
    errorStrategy= 'retry'
    maxRetries = 3
}

